.filedrop {
    min-height: 120px;
    border: 3px solid #D3D3D3;
    text-align: center;
    font-size: 24px;
    padding: 32px;
    border-radius: 4px;
}

.filedrop.drag {
    border: 3px dashed #1E90FF;
}

.filedrop.ready {
    border: 3px solid #32CD32;
}